*{
	margin: 0;
	padding: 0;
}
.form{
	width: 400px;
	height: 400px;
	margin: 50px auto;
	background-color: blueviolet;
	
}
.login{
	display: block;
	width: 220px;
	height: 240px;
	margin: 50px auto;
	background-color: dodgerblue;
	z-index: 100;
	padding: 0 50px;
	
}
.login input{
	
	width: 200px;
	height: 30px;
	margin-top: 16px;
	
}
.login .btn{
	width: 140px;
	margin-top: 40px;
	padding-left: 30px;
	
}
.log{
	margin-right: 10px;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background-color: aqua;
}
.ris{
	width: 60px;
	height: 30px;
	border-radius: 15px;
	background-color: aqua;
}
h2{
	color: aqua;
	position: relative;
	top: 40px;
	left: 150px;
}
